@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  font-family Roboto, helvetica, arial, sans-serif
  .map
    position absolute
    top 0px
    left 0px
    bottom 0px
    width calc(100% - 330px)
  .info-bar
    position absolute
    top 0px
    right 0px
    width 330px
    bottom 0px
    border-left 1px solid #a
    overflow hidden
    padding 0px 10px
    ol
      list-style-type none
      position relative
      margin 10px 0px 0px 0px
      padding 0px
      li
        position absolute
        width 100%
        transition top 0.4s
        .name
          font-size 15px
          font-weight 500
        .value
          position absolute
          right 0px
          font-size 10px
          text-transform uppercase
          text-align right
          line-height 15px
          b
            font-size 15px
        .bar
          position absolute
          top 38px
          height 2px
          transition width 0.4s
          background ColorRed

